<div class="row">
  <div class="col s12 m6 offset-m3">
    <%= form_for user do |f| %>

      <div class="input-field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="input-field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>

      <div class="input-field">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <div class="input-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>

      <div class="input-field file-field">
        <div class="btn">
          <span>Image</span>
          <%= f.file_field :avatar %>
        </div>

        <div class="file-path-wrapper">
          <input class="file-path" type="text">
        </div>
      </div>

      <div class="input-field">
        <%= f.submit 'Log in', { class: "btn" } %>
      </div>

    <% end %>
  </div>
</div>
