<h2>Our Selection</h2>

<div class="masonry">
  <% @products.each do |product| %>
    <section class="item hoverable">
      <h3><%= product.name %></h3>
      <p><%= product.description %></p>
      <p>Price: <%= product.price_in_dollars %></p>
      <a href="<%= product_path(product) %>">
        <img class="masonry-image" src="<%= product.image.pinterest.url %>" alt="<%= product.name %>">
      </a>
    </section>
  <% end %>
</div>
